<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- load css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- load fontawesome styles -->

    <link rel="stylesheet" href="../css/app.css">
    <title>Google Events</title>
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center text-dark">
            <div class="card p-5">
                <h2>Your event has been created successfully.</h2> <!-- event created successfully message-->
                <p>View you events from Google Calendar here <a class="btn btn-primary  " href="https://calendar.google.com/calendar/r?tab=rc" target="blank">see it</a></p> <!-- link to google calendar-->
            </div>
        </div>
    </div>
</body>

</html>
